<div id="<%= dom_id heresia %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= heresia.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descricao:</strong>
    <%= heresia.descricao %>
  </p>

</div>
